* {
    font-family: "Courier New", Courier, monospace;
}

#primero {
    background-color: grey;
}

h1 { color: black; 
} 

h1.especial { color: blue;
}

h2, h3 {
    border: 1px solid orange;
}

ul > li {
    color: red;
}

ul ul > li {
    color: green;
}

img[alt="primera"] {
    border: 5px solid black;
}

img[alt="segunda"] {
    border: 5px solid red;
}

p~h3[alt="etiqueta"]{
    background-color: pink;
}

P+h3{
    background-color: rgb(25, 0, 255);
}

